html, body {
    font-family: 'Source Sans 3', sans-serif;
    line-height: 1.5;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.app-header {
    height: 67px;
    /* max-width: 375px; */
    display: flex;
    align-items: center;
    padding: 5px 10px;
    /* margin-inline: auto; */
    justify-content: space-between;
    border-bottom: 1px solid #c6c6c6;
}

.logo {
    height: 100%;
    width: auto;
}

.avatar {
    height: 34px;
    width: 34px;
    border-radius: 50%;
}

.app-header, .app-main { 
    max-width: 375px;
    margin-inline: auto;
}

.post-header {
    display: flex;
    align-items: center;
    padding: 12px 10px;
}

.post-header p {
    line-height: 1.2;
}

.user-location {
    font-weight: 400;
}

.post-media { 
    margin: 0;
}

.post-media img {
    width: 100%;
    height: auto;
}

.post-actions {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
}

.post-actions button {
    background: none;
    border: none;
    padding: 0; 
    cursor: pointer;
}

.post-actions button:hover i, 
.post-actions button:focus i {
    opacity: 0.6;
}

.post-actions i {
    font-size: 25px;
    width: 28px;
    display: block;
    transition: opacity .2s ease-in-out;
    text-align: center;
    line-height: 1;
}

/* Shared utilities */
.post-header, .post-actions {
    gap: 12px;
}

.post-header, .post-likes {
    padding-inline: 10px;
}

.post-media img, .post-actions img {
    display: block;
}

.post-likes {
    margin: 12px 0;
}

.post-caption p,
.post-likes p {
    line-height: 1.4;
}

/* Text element resets */
.post-header p,
.post-caption p,
.post-likes p {
    margin: 0;
}

.user-full-name, 
.likes-count, 
.user-handle {
    font-weight: 700;
}


