html, body {
    font-family: 'Source Sans 3', sans-serif;
    line-height: 1.5;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.app-header {
    height: 67px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    justify-content: space-between;
    border-bottom: 1px solid #c6c6c6;
}

.logo {
    height: 100%;
    width: auto;
}

.avatar {
    height: 34px;
    width: 34px;
    border-radius: 50%;
}

.app-header, .app-main { 
    max-width: 375px;
    margin-inline: auto;
}

.post-header {
    display: flex;
    align-items: center;
    padding-block: 12px;
}

.post-header p {
    line-height: 1.2;
}

.user-location {
    font-weight: 400;
    color: #555;
}

.post-media { 
    margin: 0;
}

.post-media img {
    width: 100%;
    height: auto;
}

.post-actions {
    display: flex;
    padding-top: 10px;
}

.post-actions button {
    background: none;
    border: none;
    padding: 0; 
    cursor: pointer;
}

.post-actions button:hover i, 
.post-actions button:focus-visible i {
    opacity: 0.6;
}

.post-actions i {
    font-size: 25px;
    width: 28px;
    display: block;
    transition: opacity .2s ease-in-out;
    text-align: center;
    line-height: 1;
}

.liked {
    color: red;
  }

.shared {
    color: #3B82F6;
}

/* Shared utilities */
.post-header, .post-actions {
    gap: 12px;
}

.post-header,
.post-likes,
.post-caption,
.post-actions {
    padding-inline: 10px;
}

.post-media img {
    display: block;
}

.post-likes {
    margin: 12px 0;
}

.post-caption p,
.post-likes p {
    line-height: 1.4;
}

/* Text element resets */
.post-header p,
.post-caption p,
.post-likes p {
    margin: 0;
}

.user-full-name, 
.likes-count, 
.user-handle {
    font-weight: 700;
}

.comment-form {
    display:flex;
    align-items: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 4px 10px;
    margin-top: 12px;
    gap: 8px;
}

.comment-input {
    flex: 1;
    padding: 6px 4px;
    border: none;
    outline: none;
    font-size: 15px;
}

.comment-submit {
    padding: 0;
    display: flex;
    align-items: center;
    background: #3B82F6;
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    justify-content: center;
    cursor: pointer;
}

.comment-submit i {
    font-size: 18px;
    color: #fff;
}

.comment-submit:hover,
.comment-submit:focus-visible {
    opacity: 0.6;
}